/* esercizio 1 */
.ex-1-square {
    transition: background-color 3s;
}

.ex-1-square:hover {
    background-color: red;
}

/* esercizio 2 */

.ex-2-square {
    transition: width 3s;
}

.ex-2-square:active {
    width: 100%;
}

/* esercizio 3 */

.ex-3-square {
    transition: border-radius 1s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* esercizio 4 */

.ex-4-square {
    transition: opacity 3s;
}

.ex-4-square:hover {
    opacity: 0%;
}

/* esercizio 5 */

.ex-5-square {
    transition: all 1s;
}

.ex-5-square:hover {
    width: 80px;
    height: 80px;
}

.ex-5-square:active {
    width: 30px;
    height: 30px;
}

/* esercizio 6 */

.ex-6-img:hover {
    filter: grayscale(100%);
}

/* esercizio 7 */

.ex-7-img {
    transition: filter 2s;
}

.ex-7-img:hover {
    filter: grayscale(100%);
}

/* esercizio 8 */

.ex-8-img {
    transition: all 3s;
}

.ex-8-img:hover {
    filter: grayscale(70%);
    border-radius: 25px;
}

/* esercizio 9 */

.ex-9-img {
    transition: all 3s;
}

.ex-9-img:hover {
    filter: grayscale(70%);
    border-radius: 25px;
    transform: scale(1.5,1.5);
}

/* esercizio 10 */

.ex-10-icon {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* esercizio 11 */

.ex-11-icon:hover {
    animation-name: rotate270;
    animation-duration: 2s;
}

@keyframes rotate270 {
    0% {
        transform: rotate(0deg);
    }
    95% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* esercizio 12 */

.ex-12-button:hover {
    text-decoration: underline;
}

.ex-12-button:hover .ex-12-top-white {
    animation-name: move-top-12;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes move-top-12 {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation-name: move-bottom-12;
    animation-duration: 2s; 
    animation-timing-function: linear;
}

@keyframes move-bottom-12 {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}

/* esercizio 13 */

.ex-13-button:hover {
    text-decoration: underline;
}

.ex-13-button:hover .ex-13-top-white {
    animation-name: move-top-13;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes move-top-13 {
    0% {
        top: -10px;
        left: 10%;
    }
    20% {
        top: -10px;
        left: calc(100% - 30px);
    }
    45% {
        top: 100%;
        left: calc(100% - 30px);
    }
    70% {
        top: 100%;
        left: -30px;
    }
    95% {
        left: -30px;
        top: -10px;
    }
    100% {
        top: -10px;
        left: 10%;
    }
}

.ex-13-button:hover .ex-13-bottom-white {
    animation-name: move-bottom-13;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes move-bottom-13 {
    0% {
        bottom: -10px;
        right: 20%;
    }
    15% {
        bottom: -10px;
        right: calc(100% - 30px);
    }
    40% {
        bottom: calc(100% - 10px);
        right: calc(100% - 30px);
    }
    65% {
        bottom: calc(100% - 10px);
        right: -30px;
    }
    90% {
        bottom: -10px;
        right: -30px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}